##httpx
##faiss-cpu
##numpy
##PyMuPDF
##python-dotenv
##
##pydantic
##
##sentence-transformers
##transformers
##hnswlib
##tenacity
##pdfplumber
## # Dev
##black
##isort
##flake8
##mypy
##pre-commit
##chromadb
streamlit
ollama
haystack-ai
datasets
sentence-transformers
ollama-haystack
chroma-haystack
jsonschema
nltk
pydantic-settings
pydantic
pypdf
#hnswlib
#numpy
#pdfplumber